<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /iragufoundation/

# Exclude existing files and directories from being rewritten
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Remove .php extension from URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/.]+)$ $1.php [L,QSA]

</IfModule>

# Custom error pages
ErrorDocument 404 /iragufoundation/404
ErrorDocument 500 "<h1>Some error, contact administrator</h1>"